/JavaFX Navigation Drawer/nbproject/private/
/JavaFX Navigation Drawer/build/
/JavaFX Navigation Drawer/dist/
/JavaFX Calculator/nbproject/private/
/JavaFX Calculator/build/
/JavaFX Calculator/dist/
/JavaFX Text Editor/nbproject/private/
/JavaFX Text Editor/build/
/Java Swing Text Editor/build/
/Java Swing Text Editor/nbproject/private/