/JavaFX Navigation Drawer/nbproject/private/
/JavaFX Navigation Drawer/build/
/JavaFX Navigation Drawer/dist/
/JavaFX Calculator/nbproject/private/
/JavaFX Calculator/build/
/JavaFX Calculator/dist/